# Telegram Bot
BOT_TOKEN=заглушка

# Web App URL (для разработки используй ngrok)
WEBAPP_URL=https://ec69aafsefsefsefsefsfsfsefsefsfsesercontent.com

# GigaChat
GIGACHAT_CREDENTIALS=заглушка

# Database
DB_HOST=заглушка
DB_PORT=заглушка
DB_NAME=заглушка
DB_USER=заглушка
DB_PASSWORD=заглушка